@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

:root {}

.author_img {
    border-radius: 20px; 
    width: 500px;
    max-width: 100%;
    height: auto;

    @nest & img {
        border-radius: 20px !important;
    }
}

.author_paragraph {
    font-size: var(--font-base-size);
}

.author_paragraph_strong {
    font-family: var(--font-family-highlight);
    font-display: swap;
    font-size: 2em;
    line-height: 40px;
    font-weight: 700;
}

.image_container {
    width: 50%;
    text-align: center;

    @media (max-width: 1300px) {
        width: 100%;
    }
}

.text_container {
    width: 50%;

    @media (max-width: 1300px) {
        width: 100%;
    }
}

.author_container {
    width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 4em;
    border-radius: 20px;

    @media (max-width: 1300px) {
        flex-direction: column;
    }
}

.icon_container {
    display: flex;

    @media (max-width: 800px) {
        flex-direction: column;

        @nest & a:first-of-type {
            padding-right: 0.5em;
        }
    }

    @nest & a {
        color: var(--color-white);
        padding: 1em 0;
    }

    @nest & a:first-of-type {
        padding-right: 2em;

        @media(--media-max-small) { 
            padding-right: 0;
        }
    }
}

.icon_svg {
    padding-right: 8px;
    height: 24px;
    vertical-align: middle;
}

.icon_text {
    height: 24px;
    display: inline-block;
    text-decoration: underline;
    font-weight: 600;
}