@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.root {
  position: relative;
  z-index: 100;
}

.wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1600px;
  width: 100%;
  display: flex;
  padding: 0 1.5em;
}

.nav {
  width: 100%;
  
  @nest & ul {
    margin: 0;
    padding: 0;
  }

  @nest & ul li a {
    display: list-item;
    color: inherit;
    min-width: 0px;
    max-width: 100%;
    margin: 0 1.5em;
    text-decoration: none;
    padding: 1.5em 2em 1.5em 0;
  }

  @nest & ul li:first-child a {
    margin-left: 0;
  }

  @media (hover: hover) {

    @nest & ul li a:hover {
      color: var(--color-accent);
    }

  }

  @media (--media-max-small) {

    @nest & ul {
      list-style: none;
      display: flex;
    }

    @nest & ul li a {
      margin: 0;
    }

    @nest & ul li:first-child a {
      padding: 1.5em 0.5em 1.5em 0;
    }

    @nest & ul li:not(:first-child) a {
      padding: 1.5em 0.5em;
    }

    @nest & ul li:last-child a {
      padding-right: 0;
    }
  }

  @media (--media-min-small) {
    
    @nest & ul {
      list-style: none;
      display: flex;
    }

    @nest & ul li a {
      margin: 0;
    }

    @nest & ul li:first-child a {
      padding: 1.5em 1em 1.5em 0;
    }

    @nest & ul li:not(:first-child) a {
      padding: 1.5em 1em;
    }

    @nest & ul li:last-child a {
      padding-right: 0;
    }
  }
}

.navicon {

  @nest & a {
    max-width: 100%;
    min-width: 0px;
    height: 24px;
  }
}

.navicon_margin_left {
  margin-left: auto;
}