@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.root {}

.hero_title {
    font-family: var(--font-family-highlight);
    font-size: 64px;
    line-height: 70px;
    font-weight: normal;
    background: linear-gradient(271deg,#a0e9ff 30%,#a162e8 50%,#f093b0 70%,#edca85 94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0;

    @nest & span {
        text-size-adjust: 100%;
        display: block;
    }

    @media (max-width: 1000px) {

        font-size: 56px;
        line-height: 60px;
        
        @nest & span {
            display: inline;
        }

    }
}

.hero_container {
    width: 100%;
    display: flex;
    align-items: center;

    @media (max-width: 1000px) {
        flex-direction: column;
    }
}

.textcontainer {
    width: 50%;

    @nest & p {
        margin: 2em 0;
        padding-right: 2em;
    }

    @media (max-width: 1000px) {
        width: 100%;
    }
}

.displaycontainer {
    width: 50%;
    background: var(--color-gray);
    border-radius: 2em;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 5em 0;

    @media (max-width: 1000px) {
        width: 100%;
        padding: 15vh 0;
    }

    @media (max-width: 500px) {
        padding: 10vh 0;
    }

    @nest & img {
        width: 80%;
    }
}